
<div class="container">
  <h1>Questions#answer</h1>


  <!-- <a href="/ask">Ask another question</a> -->
  <a class="btn btn-primary" <%= link_to "Ask another question", ask_path %></a>

<!-- type text you want to disply to user
type rails rounte and find the base path (prefix)
type "prefix_path" -->

<p><i>Find me in app/views/questions/answer.html.erb</i></p>
</div>
