<div class="container">
<h1>Stupid Coaching</h1>

<p class="info-line">Ask your coach anything</p>

<form action="/answer">
  <!-- QuestionsController#answer -->
  <input type="text" name="user_query">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>


<p><i>Find me in app/views/questions/ask.html.erb</i></p>
</div>
