<h1>Questions#ask</h1>


<form action="/answer">
  <!-- QuestionsController#answer -->
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>




<p>Find me in app/views/questions/ask.html.erb</p>
